@using Kudotree
@using Kudotree.Helpers
@using Kudotree.Models
@model IEnumerable<AccountPost>
@{
    ViewBag.Title = "Home";
    
    KudotreeEntities db = new KudotreeEntities();
    IEnumerable<AccountPost> posts = Model;
    Account acctCurrent = (Account)Session["User"];

    int postedByAccountId = acctCurrent != null ? acctCurrent.Id : 0;
    string listby = Request.QueryString["listby"] != null ? Request.QueryString["listby"].ToString() : "all";
}

@section Scripts{
    <script src="~/scripts/home.js" type="text/javascript"></script>
}

<div class="container-fluid">
    <form id="frmKudoPost" method="post" enctype="multipart/form-data">
    
    <div class="panel panel-default">
        <div class="panel-body">
            <textarea style="border:none;" class="txtPost form-control"  data-footer-id="replyFooter-0" id="Comment-0" placeholder="What's new? Post your thoughts, news, etc..." rows="1"></textarea>
        </div>
        <div id="replyFooter-0" class="panel-footer collapse" style="padding:5px;">
            <div class="row">
                <div class="col-md-1">
                    <a data-imglabel-id="ImagePostLabel" class="btnCamera btn btn-default"><span class="glyphicon glyphicon-camera"></span></a>
                </div>
                <div class="col-md-10">
                    <small id="ImagePostLabel" class="pull-left text-info"></small>
                    <span class="pull-right form-inline">
                        <b>Viewable by:</b>
                        <select class="form-control selPrivacy" style="width:auto;" id="Privacy" name="Privacy">
                            <option value="-1" selected="selected">Connections</option>
                            <option value="-2">Public</option>
                            @if(acctCurrent != null){
                                foreach (Network net in acctCurrent.Networks)
                                {
                                    <option value="@net.Id">@net.Name @if (net.IsPreferred == true) { <text>*</text> }</option>
                                }
                            }
                        </select>
                    </span>
                </div>
                <div class="col-md-1">
                    <a data-last-anchor-id="0" data-parent-id="0" class="btnSubmit pull-right btn btn-sm btn-primary">Post</a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="pull-right">
            <b style="margin-right:10px;">Posted By:</b>
            <select id="ListBy" name="ListBy" class="form-control">
                <option value="-1" @if(listby == "-1"){ <text>selected="selected"</text> }>All Connections</option>
                <option value="-2" @if(listby == "-2"){ <text>selected="selected"</text> }>People Who Prefer Me</option>
                <option value="-3" @if(listby == "-3"){ <text>selected="selected"</text> }>Mobile Checkins</option>
                @if(acctCurrent != null){
                    foreach (Network net in acctCurrent.Networks)
                    {
                        <option value="@net.Id">@net.Name @if (net.IsPreferred == true) { <text>*</text> }</option>
                    }
                }
            </select>
        </div>
    </div>
    
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    @{  if(acctCurrent != null && posts != null){
            foreach (AccountPost ap in posts)
            {
                int lastAnchorId = ap.Id;
                
                <div class="panel panel-primary">
                    <div class="panel-body">

                        <!-- Main Post -->
                        <div style="position:relative;">

                            @if(acctCurrent.Id == ap.PostedByAccountId){
                                <div style="position:absolute;top:20px;right:0px;">
                                    <a class="btnEditComment" style="color:#d5d5d5;" data-id="@ap.Id" data-toggle="collapse" data-target="#CommentEdit-@ap.Id,#CommentView-@ap.Id"><span class="btn btn-sm glyphicon glyphicon-pencil"></span></a>
                                    <a style="color:#d5d5d5;" href="/home?rem=1&id=@ap.Id"><span class="btn btn-sm glyphicon glyphicon-trash"></span></a>
                                </div>
                            }

                            @{ ViewBag.AcctProfile = ap.Account; ViewBag.AcctProfilePostCreated = ap.Created; }
                            @Html.Partial("ProfileLink")
                            
                            @if(acctCurrent.Id == ap.PostedByAccountId){
                                <div id="CommentEdit-@ap.Id" class="collapse">
                                    <div><textarea class="form-control" rows="5">@ap.Comment</textarea></div>
                                    <a id="CommentCancel-@ap.Id" class="pull-right btn btn-sm btn-primary" data-toggle="collapse" data-target="#CommentEdit-@ap.Id,#CommentView-@ap.Id,#CommentSave-@ap.Id,#CommentCancel-@ap.Id">Cancel</a>
                                    <a id="CommentSave-@ap.Id" data-post-id="@ap.Id" class="pull-right btn btn-sm btn-primary btnCommentSave">Save</a>
                                </div>
                            }

                            <div id="CommentView-@ap.Id" style="margin-top:20px;" class="collapse in">@Html.Raw(Renderer.RenderPost(ap.Comment))</div>
                            
                            <p>&nbsp;</p>
                            @if(!string.IsNullOrEmpty(ap.PhotoFile)){
                                <a target="_blank" href="~/postimages/@ap.PhotoFile"><img src="~/postimages/@ap.PhotoFile"  class="ImgMaxRender" /></a>
                            }
                        </div>

                        <!-- Replies -->
                        <div class="panel panel-primary">
                            <div class="panel-body" style="padding:0px 0px 0px 75px;">
                                @{  IEnumerable<AccountPost> replies = db.AccountPosts.Where(p => p.ParentAccountPostId == ap.Id);
                                    if(replies != null){
                                        
                                        foreach(AccountPost reply in replies){
                                            
                                            lastAnchorId = reply.Id;

                                            //Update status to 'Read'
                                            Communication noteSeen = db.Communications.SingleOrDefault(cr => cr.LinkId == reply.Id);
                                            if (noteSeen != null && reply.PostedByAccountId != acctCurrent.Id)
                                            {
                                                noteSeen.StatusId = (int)StatusType.Read;
                                            }
                                            
                                            <hr style="margin:0px 0px 5px 0px;padding:0px;border-top:solid 1px #bebebe;" />
                                            <a id="pos-@lastAnchorId" name="pos-@lastAnchorId"></a>
                                            
                                            <div style="position:relative;">

                                                @if (acctCurrent.Id == reply.PostedByAccountId){
                                                <div style="position:absolute;top:20px;right:0px;">
                                                    <a style="color:#d5d5d5;" data-id="@reply.Id" data-toggle="collapse" data-target="#CommentEdit-@reply.Id,#CommentView-@reply.Id"><span class="btn btn-sm glyphicon glyphicon-pencil"></span></a>
                                                    <a style="color:#d5d5d5;" href="/home?rem=1&id=@reply.Id" data-toggle="collapse" data-target="#CommentEdit-@reply.Id,#CommentView-@reply.Id"><span class="btn btn-sm glyphicon glyphicon-trash"></span></a>
                                                </div>
                                                }

                                                @{ ViewBag.AcctProfile = reply.Account; ViewBag.AcctProfilePostCreated = reply.Created; }
                                                @Html.Partial("ProfileLink")
                            
                                                
                                                @if(acctCurrent.Id == reply.PostedByAccountId){
                                                <div id="CommentEdit-@reply.Id" class="collapse">
                                                    <textarea class="form-control" rows="5">@reply.Comment</textarea>
                                                    <a id="CommentCancel-@reply.Id" class="pull-right btn btn-sm btn-primary" data-toggle="collapse" data-target="#CommentEdit-@reply.Id,#CommentView-@reply.Id,#CommentSave-@reply.Id,#CommentCancel-@reply.Id">Cancel</a>
                                                    <a id="CommentSave-@reply.Id" data-post-id="@reply.Id" class="btnCommentSave pull-right btn btn-sm btn-primary">Save</a>
                                                </div>
                                                }

                                                <div id="CommentView-@reply.Id" style="margin-top:20px;" class="collapse in">@Html.Raw(Renderer.RenderPost(reply.Comment))</div>
                                                
                                                <p>&nbsp;</p>
                                                @if (!string.IsNullOrEmpty(reply.PhotoFile))
                                                {
                                                    <a target="_blank" href="~/postimages/@reply.PhotoFile"><img src="~/postimages/@reply.PhotoFile" class="ImgMaxRender" /></a>
                                                }
                                            </div>
                                        }
                                    }
                                    db.SaveChanges();
                                }
                            </div>
                        </div>

                        <!-- Reply Box -->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td style="width:7%;padding:5px;vertical-align:top;">
                                                <a href="~/account/profile?id=@acctCurrent.Id"><img src="~/profilepics/@acctCurrent.ProfilePic" style="width:100%;" /></a>
                                            </td>
                                            <td style="width:93%;padding:5px;">
                                                <textarea class="txtPost form-control" data-footer-id="replyFooter-@ap.Id" id="Comment-@ap.Id" name="Comment-@ap.Id" placeholder="Post your comment..." rows="1"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div id="replyFooter-@ap.Id" class="panel-footer collapse" style="padding:5px;">
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            <a data-imglabel-id="ImagePostLabel-@ap.Id" class="btnCamera btn btn-default"><span class="glyphicon glyphicon-camera"></span></a>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <small id="ImagePostLabel-@ap.Id" class="pull-left text-info"></small>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <a data-last-anchor-id="@lastAnchorId" data-parent-id="@ap.Id" class="btnSubmit pull-right btn btn-sm btn-primary">Post Reply</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }

    <input type="hidden" id="Comment" name="Comment" />
    <input type="hidden" id="ParentAccountPostId" name="ParentAccountPostId" value="0" />
    <input type="file" id="ImagePost" name="ImagePost" class="imgPost" style="visibility:hidden;"/>
</form>
</div>