<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kudotree - @ViewBag.Title</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    @RenderSection("Stylesheets", false)
</head>
<body>
    <div class="container-fluid" style="padding:0px;">
        <div class="row-fluid">
            <div>@Html.Partial("HeaderLogin")</div>
        </div>
        <div class="row-fluid">
            <div>@RenderBody()</div>
        </div>
        <div class="row-fluid" id="footer">
            <div>@Html.Partial("FooterLogin")</div>
        </div>
    </div>

    <!-- Generic dialog box w/message & NO buttons -->
        <div class="modal fade" id="modalProcessing">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" style="padding:0px;margin:0px;">
                <h4 class="modal-title" id="modalProcessingTitle">Kudo Tree</h4>
              </div>
                <div class="modal-body">
                    <div class="center-block">
                        <div id="procMsg" style="text-align:center;"></div>
                        <img class="center-block" src="~/images/loading_animated.gif" style="width:60px;" />
                    </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Forgot Password dialog box -->
        <div class="modal fade" id="modalForgotPass">
          <div class="modal-dialog modal-info">
            <div class="modal-content">
              <div class="modal-header" style="padding:0px;margin:0px;">
                <h4 class="modal-title">Kudo Tree</h4>
              </div>
              <div class="modal-body">
                <div class="center-block" style="text-align:center;">Provide your email, and we'll send you a new password.</div>
                <div class="input-group">
                    <span class="input-group-addon">Email: </span>
                    <input id="emailForgotPass" type="text" class="form-control" />
                </div>
              </div>
              <div class="modal-footer">
                <a id="btnGetPassword" href="#" class="btn btn-primary" data-dismiss="modal">Email Me A New Password</a>
              </div>
            </div>
          </div>
        </div>

        <!-- OK dialog box -->
        <div class="modal fade" id="modalOk">
          <div class="modal-dialog modal-info">
            <div class="modal-content">
              <div class="modal-header" style="padding:0px;margin:0px;">
                <h4 class="modal-title">Kudo Tree</h4>
              </div>
              <div class="modal-body">
                <div id="okMsg" class="center-block" style="text-align:center;"></div>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">OK</a>
              </div>
            </div>
          </div>
        </div>

    <script src="~/scripts/jquery.min.js" ></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/login.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
